h1 {
  color: rgb(240, 8, 197);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-style: italic;
  text-shadow: 2px 2px 7px red;
  font-family: "Doto", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}